<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <div ng-app="myApp">
        <div ng-controller="myController" class="css1">
            <input type="text" ng-model="search">
            <div ng-repeat="items in showData | filter : search" style="margin: 10px 0">{{$index + 1}}. {{items.email}}
            </div>
        </div>
    </div>

    <script src="./app.js"></script>
</body>

</html>