<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Google tag (gtag.js) -->
<!-- <script async src="https://www.googletagmanager.com/gtag/js?id=G-XTKKJ44KJW"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-XTKKJ44KJW');
</script> -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <div ng-app="myApp">
        <div ng-controller="myController" class="css1">
            <input type="text" ng-model="search">
            <div ng-repeat="items in showData | filter : search" style="margin: 10px 0">{{$index + 1}}. {{items.email}}
            </div>
        </div>
    </div>

    <script src="./app.js"></script>
</body>

</html>
